<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-mode="detached" data-topbar-color="dark" data-sidenav-color="light" data-sidenav-user="true">
<head>
    <meta charset="UTF-8">
    <title>Project | Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="Java Guru" name="nelson" />

    <!-- Plugin css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/jquery-toast-plugin/jquery.toast.min.css}">

    <!-- Date range picker css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/daterangepicker/daterangepicker.css}">

    <!-- Bootstrap Datepicker css -->
    <link th:href="@{/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css" />

    <!-- Vector Map css -->
    <link rel="stylesheet" th:href="@{/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css}">

    <!-- Theme Config Js -->
    <script th:src="@{/assets/js/hyper-config.js}"></script>

    <!-- Icons css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />

    <!-- Select2 css -->
    <link th:href="@{/assets/vendor/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />

    <!-- Datatables css -->
    <link th:href="@{/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link th:href="@{/assets/css/app-modern.min.css}" rel="stylesheet" type="text/css" id="app-style" />


</head>
<body>
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <div class="navbar-custom topnav-navbar">
            <div class="container-fluid detached-nav">
                <!-- Topbar Logo -->
                <div class="logo-topbar">
                    <!-- Logo light -->
                    <a th:href="@{/}" class="logo-light text-white">
                            <span class="logo-lg">
                                POINTO
                            </span>
                            <span class="logo-sm">
                                    POINTO
                            </span>
                    </a>

                    <!-- Logo Dark -->
                    <a th:href="@{/}" class="logo-dark text-white">
                            <span class="logo-lg">
                               POINTO
                            </span>
                        <span class="logo-sm">
                            POINTO
                            </span>
                    </a>
                </div>

                <!-- Sidebar Menu Toggle Button -->
                <button class="button-toggle-menu">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- Horizontal Menu Toggle Button -->
                <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>

                <ul class="list-unstyled topbar-menu float-end mb-0">
                    <li class="dropdown notification-list d-lg-none">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="ri-search-line noti-icon"></i>
                        </a>

                    </li>

                    <li class="dropdown notification-list d-none d-sm-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="ri-apps-2-line noti-icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg p-0">

                            <div class="p-2">
                                <div class="row g-0">
                                    <div class="col">
                                        <a class="dropdown-icon-item" href="#">
                                            <img th:src="@{/assets/images/brands/slack.png}" alt="slack">
                                            <span>Slack</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-icon-item" href="#">
                                            <img th:src="@{/assets/images/brands/github.png}" alt="Github">
                                            <span>GitHub</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-icon-item" href="#">
                                            <img th:src="@{/assets/images/brands/dribbble.png}" alt="dribbble">
                                            <span>Dribbble</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row g-0">
                                    <div class="col">
                                        <a class="dropdown-icon-item" href="#">
                                            <img th:src="@{/assets/images/brands/bitbucket.png}" alt="bitbucket">
                                            <span>Bitbucket</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-icon-item" href="#">
                                            <img th:src="@{/assets/images/brands/dropbox.png}" alt="dropbox">
                                            <span>Dropbox</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-icon-item" href="#">
                                            <img th:src="@{/assets/images/brands/g-suite.png}" alt="G Suite">
                                            <span>G Suite</span>
                                        </a>
                                    </div>
                                </div> <!-- end row-->
                            </div>

                        </div>
                    </li>


                    <li class="notification-list d-none d-sm-inline-block">
                        <a class="nav-link" href="javascript:void(0)" id="light-dark-mode">
                            <i class="ri-moon-line noti-icon"></i>
                        </a>
                    </li>

                    <li class="notification-list d-none d-md-inline-block">
                        <a class="nav-link" href="#" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line noti-icon"></i>
                        </a>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                           aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img th:src="@{/assets/images/users/avatar-1.jpg}" alt="user-image" class="rounded-circle">
                                </span>
                            <span>
                                    <span class="account-user-name">Nelson Omoi</span>
                                    <span class="account-position">CEO</span>
                                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-circle me-1"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout me-1"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <!-- Topbar Search Form -->
                <div class="app-search dropdown">
                    <form>
                        <div class="input-group">
                            <input type="search" class="form-control dropdown-toggle"  placeholder="Search..." id="top-search">
                            <span class="mdi mdi-magnify search-icon"></span>
                            <button class="input-group-text btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ========== Topbar End ========== -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- Logo Light -->
            <a th:href="@{/}" class="logo logo-light">
                    <span class="logo-lg">
                        <img th:src="@{/assets/images/logo.png}" alt="logo" height="22">
                    </span>
                <span class="logo-sm">
                        <img th:src="@{/assets/images/logo-sm.png}" alt="small logo" height="22">
                    </span>
            </a>

            <!-- Logo Dark -->
            <a th:href="@{/}" class="logo logo-dark">
                    <span class="logo-lg">
                        <img th:src="@{/assets/images/logo-dark.png}" alt="dark logo" height="22">
                    </span>
                <span class="logo-sm">
                        <img th:src="@{/assets/images/logo-dark-sm.png}" alt="small logo" height="22">
                    </span>
            </a>

            <!-- Sidebar Hover Menu Toggle Button -->
            <button type="button" class="bg-transparent button-sm-hover p-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                <i class="ri-checkbox-blank-circle-line align-middle"></i>
            </button>

            <!-- Sidebar -left -->
            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <!-- Leftbar User -->
                <div class="leftbar-user">
                    <a th:href="@{/}">
                        <img th:src="@{/assets/images/users/avatar-1.jpg}" alt="user-image" height="42"
                             class="rounded-circle shadow-sm">
                        <span class="leftbar-user-name">Nelson Omoi</span>
                    </a>
                </div>

                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title side-nav-item">Navigation</li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false"
                           aria-controls="sidebarProjects" class="side-nav-link">
                            <i class="uil-briefcase"></i>
                            <span> Projects </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarProjects">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a th:href="@{/projects}">Project List</a>
                                </li>
                            </ul>
                        </div>
                    </li>

<!--                    <li class="side-nav-item">-->
<!--                        <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false"-->
<!--                           aria-controls="sidebarMultiLevel" class="side-nav-link">-->
<!--                            <i class="uil-folder-plus"></i>-->
<!--                            <span> Multi Level </span>-->
<!--                            <span class="menu-arrow"></span>-->
<!--                        </a>-->
<!--                        <div class="collapse" id="sidebarMultiLevel">-->
<!--                            <ul class="side-nav-second-level">-->
<!--                                <li class="side-nav-item">-->
<!--                                    <a data-bs-toggle="collapse" href="#sidebarSecondLevel" aria-expanded="false"-->
<!--                                       aria-controls="sidebarSecondLevel">-->
<!--                                        <span> Second Level </span>-->
<!--                                        <span class="menu-arrow"></span>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="sidebarSecondLevel">-->
<!--                                        <ul class="side-nav-third-level">-->
<!--                                            <li>-->
<!--                                                <a href="javascript: void(0);">Item 1</a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a href="javascript: void(0);">Item 2</a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="side-nav-item">-->
<!--                                    <a data-bs-toggle="collapse" href="#sidebarThirdLevel" aria-expanded="false" aria-controls="sidebarThirdLevel">-->
<!--                                        <span> Third Level </span>-->
<!--                                        <span class="menu-arrow"></span>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="sidebarThirdLevel">-->
<!--                                        <ul class="side-nav-third-level">-->
<!--                                            <li>-->
<!--                                                <a href="javascript: void(0);">Item 1</a>-->
<!--                                            </li>-->
<!--                                            <li class="side-nav-item">-->
<!--                                                <a data-bs-toggle="collapse" href="#sidebarFourthLevel" aria-expanded="false" aria-controls="sidebarFourthLevel">-->
<!--                                                    <span> Item 2 </span>-->
<!--                                                    <span class="menu-arrow"></span>-->
<!--                                                </a>-->
<!--                                                <div class="collapse" id="sidebarFourthLevel">-->
<!--                                                    <ul class="side-nav-forth-level">-->
<!--                                                        <li>-->
<!--                                                            <a href="javascript: void(0);">Item 2.1</a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="javascript: void(0);">Item 2.2</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
                <!--- End Sidemenu -->

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- ========== Left Sidebar End ========== -->


        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid">
                    <div layout:fragment="content"></div>
                </div>
            </div>

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Pointo - pointo.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->


        </div>

    </div>

    <th:block layout:fragment="modals"></th:block>

    <script th:src="@{/js/jquery-3.6.min.js}"></script>

    <!-- Vendor js -->
    <script th:src="@{/assets/js/vendor.min.js}"></script>

    <!-- Daterangepicker js -->
    <script th:src="@{/assets/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/assets/vendor/daterangepicker/daterangepicker.js}"></script>

    <!-- Bootstrap Datepicker js -->
    <script th:src="@{/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <!-- Apex Charts js -->
<!--    <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>-->

    <!-- Vector Map js -->
    <script th:src="@{/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js}"></script>

    <script th:src="@{/assets/vendor/select2/js/select2.min.js}"></script>

    <script th:src="@{/assets/vendor/jquery-toast-plugin/jquery.toast.min.js}"></script>

    <!-- Dashboard App js -->
<!--    <script src="assets/js/pages/demo.dashboard.js"></script>-->

    <!-- Datatables js -->
    <script th:src="@{/assets/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js}"></script>

    <!-- App js -->
    <script th:src="@{/assets/js/app.min.js}"></script>

    <script>
         $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf_token"]').attr('content')
            }
        });
    </script>

    <script th:inline="javascript">
        var success = [[${success}]]
        var error = [[${error}]]
        var info = [[${info}]]
        var warning = [[${warning}]]

        if(success){
            $.toast({
                heading: 'Success',
                text: success,
                position: 'top-right',
                stack: false,
                icon: "success"
            })
        }

        if(error){
            $.toast({
                heading: 'Error',
                text: error,
                position: 'top-right',
                stack: false,
                icon: "error"
            })
        }

        if(info){
            $.toast({
                heading: 'Information',
                text: info,
                position: 'top-right',
                stack: false,
                icon: "info"
            })
        }

        if(warning){
            $.toast({
                heading: 'Warning',
                text: warning,
                position: 'top-right',
                stack: false,
                icon: "warning"
            })
        }

        $('.required').append('<span class="text-danger">*</span>')

    </script>

    <th:block layout:fragment="script"></th:block>

</body>
</html>