<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Employees</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Employees List</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row mb-2">
            <div class="col-sm-4">
                <a th:href="@{/employees/new-employee}" class="btn btn-primary rounded-pill mb-1"><i class="mdi mdi-plus"></i> New Employee</a>
            </div>
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active" id="basic-datatable-preview">
                                <table id="employees-table" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                    <tr>
                                        <th>#empID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <th:block layout:fragment="script">
        <script>
          $(document).ready(function(){
               $("#employees-table").DataTable({
                    processing: true,
                    serverSide: false,
                    ajax:{
                        url: "/api/v1/employees/list",
                        dataSrc: ''
                    },
                    columns: [
                        {data: "employeeId"},
                        {data: function(d){
                                return d.firstname+" "+d.lastname
                            }
                        },
                        {data: "email"},
                        {data: function(d){
                            return '<a role="button" class="btn btn-primary btn-sm" data-project_id="'+d.projectId+'"> <i class="uil uil-eye"></i></a>'
                        }}
                    ]
               })
          });
        </script>
    </th:block>

</body>
</html>