<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
</head>
<body>

    <div layout:fragment="content">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Project management</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                            <li class="breadcrumb-item active">Create Project</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Create Project</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="mb-3">
                                        <label for="projectname" class="form-label">Project Name</label>
                                        <input type="text" id="projectname" class="form-control" placeholder="Enter project name">
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <!-- Date View -->
                                    <div class="mb-3 position-relative" id="datepicker1">
                                        <label class="form-label">Start Date</label>
                                        <input type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker1" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Due Date</label>
                                        <input type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="mb-3">
                                        <label for="project-overview" class="form-label">Description</label>
                                        <textarea class="form-control" id="project-overview" rows="5" placeholder="Enter some brief about project.."></textarea>
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="mb-3">
                                        <label for="project-budget" class="form-label">Estimated Budget</label>
                                        <input type="text" id="project-budget" class="form-control" placeholder="Enter project budget">
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->

                            <hr>
                            <div class="justify-content-end row">
                                <div class="col-12">
                                    <a role="button" th:href="@{/projects}" class="btn btn-secondary">cancel</a>
                                    <button type="submit" class="btn btn-primary">create</button>
                                </div>
                            </div>
                        </form>

                    </div> <!-- end card-body -->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

    </div>

    <th:block layout:fragment="script">
        <script>
          $(document).ready(function(){

          });
        </script>
    </th:block>

</body>
</html>